lyx/header.lyx~
lyx/main.lyx~
tex/main.aux
tex/main.log
tex/main.out
tex/main_latex.aux
tex/main_latex.log
tex/main_latex.out
tex/main_latex.pdf
tex/main_latex.tex
The_Island-FR-LaTeX.pdf
output/The_Island-FR.pdf
output/The_Island-Latex-FR.pdf
main.aux
main.log
main.out
main.pdf
main_latex.aux
main_latex.log
main_latex.out
The_Island.txt